<div class="main-body">
    <div class="center">
        <h1 class="subtitle">CONTACT</h1>
    </div>
    <div class="form-div">
        <form class="contact-form">
            <div class="subject-line">
                <label class="form-label">Name</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="subject-line">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="subject-line">
                <label class="form-label">Subject</label>
                <input type="text" name="subject" class="form-control" required>
            </div>
            <div class="subject-line">
                <label class="form-label">Message</label>
                <textarea name="message" rows="10" required></textarea>
            </div>
            <div class="form-button-div text-center">
                <button type="submit" class="btn form-button">Submit</button>
            </div>
        </form>
    </div>
</div>