<div class="center">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
        <a class="menu-toggle"><h1>Menu</h1></a>
    </label>
    <nav class="navbar">
        <a href="index.html"><h1 class="active">HOME</h1></a>
        <a href="comics.html"><h1>STORE</h1></a>
        <a href="about.html"><h1>INFO</h1></a>
        <a href="contact.html"><h1>CONTACT</h1></a>
        <a href="signin.html"><h1>SIGNIN</h1></a>
    </nav>
</div>
<hr>
<div class="main-body thumbnail-menu">
    <a href="comics.html">
        <div class="menu-item">
            <img class="menu-image" src="../images/Funny - Animal - Bug - 1.PNG" alt="Comics">
            <h1>Comics</h1>
        </div>
    </a>
    <a href="prints.html">
        <div class="menu-item">
            <img class="menu-image" src="../images/Warrior - Animal - Ape - 1.jpg" alt="Prints">
            <h1>Prints</h1>
        </div>
    </a>
    <a href="personal-works.html">
        <div class="menu-item">
            <img class="menu-image" src="../images/Funny - Creature - Skeleton - 2.PNG" alt="Personal Work">
            <h1>Personal Works</h1>
        </div>
    </a>
</div>
<hr>
<footer>
    <div class="center footer-pad">
        <a href="https://www.instagram.com/"><i class="icon fab fa-instagram"></i></a>
        <a href="https://twitter.com/?lang=en"><i class="icon fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/"><i class="icon fab fa-facebook-f"></i></a>
    </div>
</footer>