<div class="main-body thumbnail-menu">
    <a href="/comics">
        <div class="menu-item">
            <img class="menu-image" src="../images/Funny - Animal - Bug - 1.PNG" alt="Comics">
            <h1>Comics</h1>
        </div>
    </a>
    <a href="/prints">
        <div class="menu-item">
            <img class="menu-image" src="../images/Warrior - Animal - Ape - 1.jpg" alt="Prints">
            <h1>Prints</h1>
        </div>
    </a>
    <a href="/personal-works">
        <div class="menu-item">
            <img class="menu-image" src="../images/Funny - Creature - Skeleton - 2.PNG" alt="Personal Work">
            <h1>Personal Works</h1>
        </div>
    </a>
</div>