<!DOCTYPE html>
    <html>
        <head>
            <link type="text/css" rel="stylesheet" href="../css/index.css" />
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
            <title>Prints</title>
        </head>
        <body>
            <div class="center">
                <input type="checkbox" id="nav-toggle" class="nav-toggle">
                <label for="nav-toggle" class="nav-toggle-label">
                    <a class="menu-toggle"><h1>Menu</h1></a>
                </label>
                <nav class="navbar">
                    <a href="index.html"><h1>HOME</h1></a>
                    <a href="comics.html"><h1 class="active">STORE</h1></a>
                    <a href="about.html"><h1>INFO</h1></a>
                    <a href="contact.html"><h1>CONTACT</h1></a>
                    <a href="signin.html"><h1>SIGNIN</h1></a>
                </nav>
            </div>
            <hr>
            <div class="main-body">
                <div class="center subtitle-div">
                    <a class="subtitle-anchor" href="comics.html"><h1 class="subtitle">COMICS</h1></a>
                    <a class="subtitle-anchor active" href="prints.html"><h1 class="subtitle">PRINTS</h1></a>
                    <a class="subtitle-anchor" href="personal-works.html"><h1 class="subtitle">PERSONAL</h1></a>
                </div>
                <div class="comic-menu">
                    <a href="print.html">
                        <div class="comic-item">
                            <img class="comic-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="comic">
                        </div>
                        <div class="thumbnail-footer">
                            <div class="Title">Title</div>
                            <div class="Price">$</div>
                        </div>
                    </a>
                    <a href="print.html">
                        <div class="comic-item">
                            <img class="comic-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="comic">
                        </div>
                        <div class="thumbnail-footer">
                            <div class="Title">Title</div>
                            <div class="Price">$</div>
                        </div>
                    </a>
                    <a href="print.html">
                        <div class="comic-item">
                            <img class="comic-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="comic">
                        </div>
                        <div class="thumbnail-footer">
                            <div class="Title">Title</div>
                            <div class="Price">$</div>
                        </div>
                    </a>
                    <a href="print.html">
                        <div class="comic-item">
                            <img class="comic-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="comic">
                        </div>
                        <div class="thumbnail-footer">
                            <div class="Title">Title</div>
                            <div class="Price">$</div>
                        </div>
                    </a>
                    <a href="print.html">
                        <div class="comic-item">
                            <img class="comic-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="comic">
                        </div>
                        <div class="thumbnail-footer">
                            <div class="Title">Title</div>
                            <div class="Price">$</div>
                        </div>
                    </a>
                </div>
            </div>
            <hr>
            <footer>
                <div class="center footer-pad">
                    <a href="https://www.instagram.com/"><i class="icon fab fa-instagram"></i></a>
                    <a href="https://twitter.com/?lang=en"><i class="icon fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/"><i class="icon fab fa-facebook-f"></i></a>
                </div>
            </footer>
        </body>
    </html>