<div class="main-body print-details">
    <div class="print-images">
        <div class="image">
            <h1 class="image-title">TITLE</h1>
            <div class="big-image-div">
                <img class="big-image" src="../images/Funny - Animal - Bug - 1.PNG" alt="print">
            </div>
            <div class="image-thumbnails">
                <img class="image-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="print">
                <img class="image-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="print">
                <img class="image-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="print">
            </div>
        </div>
        <div class="details">
        </div>
        <div class="qty"></div>
    </div>
    <div class="cart-options">
        <button>Add To Cart</button>
        <button>Order Now</button>
    </div>
</div>