<div class="main-body">
    <div class="center subtitle-div">
        <a class="subtitle-anchor" href="/collection/comics"><h1 class="subtitle">COMICS</h1></a>
        <a class="subtitle-anchor active" href="/collection/prints"><h1 class="subtitle">PRINTS</h1></a>
        <a class="subtitle-anchor" href="/collection/personal-works"><h1 class="subtitle">PERSONAL</h1></a>
    </div>
    <div class="comic-menu">
        <a href="/collection/print">
            <div class="comic-item">
                <img class="comic-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="comic">
            </div>
            <div class="thumbnail-footer">
                <div class="Title">Title</div>
                <div class="Price">$</div>
            </div>
        </a>
        <a href="/collection/print">
            <div class="comic-item">
                <img class="comic-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="comic">
            </div>
            <div class="thumbnail-footer">
                <div class="Title">Title</div>
                <div class="Price">$</div>
            </div>
        </a>
        <a href="/collection/print">
            <div class="comic-item">
                <img class="comic-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="comic">
            </div>
            <div class="thumbnail-footer">
                <div class="Title">Title</div>
                <div class="Price">$</div>
            </div>
        </a>
        <a href="/collection/print">
            <div class="comic-item">
                <img class="comic-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="comic">
            </div>
            <div class="thumbnail-footer">
                <div class="Title">Title</div>
                <div class="Price">$</div>
            </div>
        </a>
        <a href="/collection/print">
            <div class="comic-item">
                <img class="comic-thumbnail" src="../images/Funny - Animal - Bug - 1.PNG" alt="comic">
            </div>
            <div class="thumbnail-footer">
                <div class="Title">Title</div>
                <div class="Price">$</div>
            </div>
        </a>
    </div>
</div>