.about-info {
  text-align: justify;
  justify-content: center;
  font-size: 14px;
  line-height: 35px;
  align-self: center;
}

.info-detail-div {
  display: grid;
  grid-template-columns: 75px auto;
  margin: 10px 0;
}
