.course-content,
.video-container {
  background-color: #2b2b2b;
  height: fit-content;
}

.lesson-container {
  border-bottom: 1px white solid;
}

.course-content-name {
  margin-left: 25px;
}

.lesson-name {
  margin-left: 25px;
}

.video {
  width: 100%;
  padding: 25px;
}

.play-icon-container {
  align-self: center;
  padding-right: 10px;
  color: rgb(255, 68, 208);
}

.course-container{
    width: 95vw;
    gap: 10px;
    justify-content: center;
}