.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-bottom: white solid 2px;
  background-color: black;
  height: 70px;
  padding: 0 50px;
}

.nav-div {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
}

.magnifier {
  height: 100%;
}

.search-button {
  margin: 0;
  padding: 5px 10px;
  height: 100%;
}

.nav-link:hover {
  // background-color: rgb(44, 44, 44);
  cursor: pointer;
}

.navbar-div,
.navbar-div a {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: black;
  color: white;
}

.nav-row {
  height: 70px;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  display: block;
}

@media (max-width: 785px) {
  .menu-toggle {
    display: grid;
    border-bottom: white solid 2px;
  }

  .navbar {
    display: none;
    padding: 0;
  }

  .logo-div {
    visibility: hidden;
    height: 0;
  }

  .nav-div {
    grid-template-columns: auto;
  }

  .cart-summary-div {
    width: 100vw;
  }

  .nav-link,
  .cart-summary-div {
    background-color: black;
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  color: white;
  align-content: center;
  font-size: 35px;
  height: fit-content;
  cursor: pointer;
}

@media (max-width: 765px) {
  .iconMenu {
    display: none;
    grid-template-columns: auto;
  }

  .iconMenu-show {
    display: grid;
    position: absolute;
    top: 52px;
    max-width: fit-content;
    max-height: 100%;
    background: black;
    border: white solid 2px;
    border-top: none;
    border-right: none;
    height: fit-content;
    padding: 8px;
  }

  .hamburger {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    cursor: pointer;
  }
}
