body {
  color: #000000;
  font-family: "Rajdhani";
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.order-summary-container {
  padding: 0 40px;
}

.navbar{
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-bottom: white solid 2px;
  background-color: black;
  height: 70px;
  padding: 0 50px;
}

.nav-div {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
}

.nav-link:hover {
  background-color: rgb(44, 44, 44);
  cursor: pointer;
}

.logo-div{
  display: grid;
  align-content: center;
  min-width: 100px;
}

.cart-summary-div{
  display: grid;
  align-content: center;
  min-width: 100px;
}

.main-body{
  min-height: calc(100vh - 70px);
  display: grid;
  /* grid-template-rows: 70px 1fr 70px; */
  grid-template-rows: 1fr 100px;
}

.plus-icon-div{
  text-align: end;
  margin-right: 10%;
}

.plus-icon{
  border: white solid 2px;
  padding: 10px 20px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.plus-icon:hover{
  background-color: rgb(44, 44, 44);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-align: center;
  color: white;
}

a{
  color: white;
}

h1{
  margin: 30px 0;
}

h3{
  text-align: justify;
}

.cover {
  background-image: url("/images/allOut.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
  position: relative;
}

.intro-button {
  color: white;
  text-align: center;
  font-size: 50px;
  display: grid;
  width: 100vw;
}

.down-arrow {
  font-size: 100px;
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  justify-self: center;
}

.navbar-div,
.navbar-div a {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: black;
  color: white;
}

.title {
  font-size: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

button a,
button a:hover {
  color: white;
}

.pointer {
  cursor: pointer;
}

.grid {
  display: grid;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.display-none {
  display: none;
}

.pointer:hover {
  cursor: pointer;
  color: white;
}

.inactive-cart {
  background-color: black;
  position: fixed;
  right: 11px;
  visibility: hidden;
  opacity: 0;
}

.active-cart {
  background-color: black;
  position: fixed;
  right: 11px;
}

.nav-row{
  height: 70px;
}

.cart-icon {
  padding-top: 3px;
}

.cart-modal {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 250px;
  float: right;
  gap: 20px;
  padding: 10px;
}

.sign-bg, .create-bg, .update-bg, .delete-bg {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  cursor: pointer;
}

.modal-link:hover {
  color: white;
}

.sign-active, .create-product, .update-product, .delete-product {
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

.sign-content {
  display: grid;
  background-color: black;
  gap: 10px;
  padding: 20px;
  text-align: center;
  min-width: 330px;
}

.sign-header {
  margin: 5px;
}

.forgot-input-div {
  display: grid;
  gap: 5px;
}

.name-input-div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.sign-footer span {
  padding: 5px;
}

.modal-input-div {
  display: grid;
  margin: 5px 0;
}

.cart-quantity-div {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.cart-table {
  margin: 0 15%;
}

/* .table-headers p {
  padding: 0 20px;
} */

.table-headers,
.cart-item-details, .order-item-details {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 100px minmax(50px, 100px);
  /* padding: 0 20px; */
}

.cart-item-details, .order-item-details {
  padding: 10px 0;
  align-items: center;
}

.cart-item-info, .order-item-info {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 50px 150px 1fr;
}

.cart-item-qty,
.checkout-discount {
  padding: 5px;
  background-color: black;
  text-align: center;
}

.order-item-details {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr minmax(50px, 100px);
  padding: 10px 0;
}

.item-qty-input {
  width: 70px;
}

.cart-item-price, .order-item-price {
  text-align: right;
}

.cart-items-container{
  height: 100%;
}

.cart-items{
  height: 100%;
}

.cart-item-div{
  height: 150px;
  width: 150px;
  text-align: center;
}

.cart-item-thumbnail, .order-item-thumbnail {
  max-height: 100%;
  max-width: 100%;
}

.cart-item-title, .order-item-title {
  padding: 0 20px;
}

.order-item-title{
  text-align: left;
}

.subtotal-div {
  padding: 20px 0px;
}

.table-hr,
.item-hr,
.shipping-hr,
.payment-hr {
  margin: 0;
}

.subtotal-div span {
  padding-left: 15px;
}

.cart-options {
  text-align: center;
}

.cart-button {
  margin: 0;
}

.totalPrice {
  text-align: right;
  padding: 0 10px;
}

.ig-logo:hover {
  background: linear-gradient(
    #405de6,
    #5b51d8,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.twitter-logo:hover {
  background: #1da1f2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.youtube-logo:hover {
  background: #ff0000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center {
  text-align: center;
}

.grid {
  display: grid;
}

.active {
  color: white;
}

.main-body {
  animation: transitionIn 1000ms;
}

button {
  cursor: pointer;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 1417px){
  .order-summary-container {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 715px) {

  .cart-item-info{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50px auto;
  }

  .cart-item-div{
    width: 100%;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .cart-item-title{
    visibility: hidden;
    width: 0;
    height: 0;
  }

}

@media (max-width: 785px) {
  .menu-toggle {
    display: grid;
  }

  .navbar {
    display: none;
    padding: 0;
  }

  .logo-div{
    visibility: hidden;
    height: 0;
  }

  .nav-div{
    grid-template-columns: auto;
  }

  .nav-link{
    width: 100vw;
  }
}

hr {
  margin: 15px 15%;
  align-content: center;
  justify-self: center;
}

.form-hr {
  margin: 0;
}

button {
  padding: 5px 20px;
  margin: 5px;
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: "Rajdhani";
}

.subtitle-div {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
  margin-top: 50px;
}

.subtitle-anchor {
  text-decoration: none;
}

.form-title {
  text-align: center;
  font-size: 20px;
}

.image-title {
  text-align: center;
  font-size: 25px;
  margin: 5px;
}

.store-menu {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 350px));
  gap: 30px;
  position: relative;
  margin: 0 10%;
}

.products-menu {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 350px));
  gap: 30px;
  margin: 50px 10%;
}

.products-item-div {
  cursor: pointer;
}

.products-item {
  text-align: center;
  height: 350px;
  width: 350px;
  display: grid;
  align-content: center;
  justify-content: center;
  border: white solid 2px;
  background-color: rgb(44, 44, 44);
}

.products-item:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px rgb(255 255 255 / 70%);
  transition: all 0.3s;
}

.products-thumbnail {
  border-style: none;
  background: black;
  max-height: 350px;
  max-width: 350px;
}

.products-thumbnail-footer {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.menu-image-div{
  text-align: center;
  height: 350px;
  width: 350px;
  display: grid;
  align-content: center;
  justify-content: center;
  border: white solid 2px
}

.menu-item {
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center;
}

.menu-image {
  border-style: none;
  background: black;
  max-height: 350px;
  max-width: 350px;
}

.icon {
  font-size: 30px;
  padding: 0 10px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: grid;
  align-content: center;
}

.footer-pad {
  padding: 20px;
}

.big-image {
  border-style: none;
  background: black;
  max-height: 500px;
  max-width: 450px;
  border: solid white 2px;
}

.image-thumbnail {
  border-style: none;
  background: black;
  height: 100px;
  width: 100px;
  margin: 0 5px;
  border: solid white 2px;
}

.item-details,
.profile-info,
.admin-item-div,
.image-div,
.checkout-div,
.shipping-div,
.payment-div {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, 550px));
  background-color: black;
}

.item-details,
.profile-info,
.image-div {
  margin: 20px 10%;
}

.admin-item-div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.create-product-container, .update-product-container{
  background-color: black;
  border: white solid 2px;
  width: 1000px;
}

.delete-product-container{
  background-color: black;
  border: white solid 2px;
}

.checkout-div,
.shipping-div,
.payment-div {
  margin: 20px 150px;
}

.big-image-div {
  justify-content: center;
}

.info-div {
  margin: 20px 0;
  padding: 20px 50px;
  text-align: left;
  justify-content: center;
  background-color: black;
  color: white;
  border: white solid 2px;
}

.no-margin {
  margin: 10px 0;
}

.info-detail-div {
  display: grid;
  grid-template-columns: 75px auto;
  margin: 10px 0;
}

.about-info {
  text-align: justify;
  justify-content: center;
  font-size: 14px;
  line-height: 35px;
  align-self: center;
}

.form-div {
  display: grid;
  justify-content: center;
  padding-bottom: 40px;
  margin: 0 10%;
}

.contact-form {
  display: grid;
  justify-content: center;
  border-style: none;
  background: black;
  padding: 40px;
  grid-template-columns: repeat(1, minmax(0px, 800px));
  border: white solid 2px;
}

.subject-line {
  display: grid;
  margin: 15px 0;
}

.subject-line input, .subject-line textarea{
  font-size: 17px;
}

.quantity-div {
  display: grid;
  grid-template-columns: 75px auto;
}

.admin-label {
  text-align: left;
}

.admin-form {
  padding: 30px;
  background-color: black;
}

.admin-form-title {
  display: grid;
}

.admin-form-field {
  display: grid;
  grid-template-columns: 75px auto;
  margin: 15px 0;
}

.checkout-info-div{
  width: 100%;
  display: grid;
}

.admin-form-button {
  display: grid;
  grid-template-columns: 75px auto;
}

input,
select,
.cardElement {
  border-style: none;
  padding: 10px;
  outline: none;
  font-family: "Rajdhani";
}

.cardElement {
  background-color: white;
  padding: 10px;
}

textarea {
  border-style: none;
  padding: 5px;
  outline: none;
  resize: none;
  font-family: "Rajdhani";
}

.form-button-div {
  text-align: right;
}

.admin-products-button-div {
  display: grid;
  grid-template-columns: auto auto;
}

label {
  display: grid;
  align-content: center;
}

.radio {
  display: inline;
}

.radio-label {
  display: inline;
}

.radio-div {
  display: grid;
  grid-template-columns: auto auto auto;
}

.delete {
  color: white;
  color: white;
  color: white;
  text-align: left;
}

.profile-image-div,
.admin-image-div {
  display: grid;
  align-content: center;
}

.admin-image-div{
  padding: 30px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.two-column-div {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5px 0;
  gap: 10px;
}

.three-column-div {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  margin: 5px 0;
  gap: 10px;
}

.shipping-selection-div,
.payment-selection-div {
  background-color: black;
  padding: 40px;
}

.shipping-options-div,
.shipping-info-div,
.payment-info-div {
  background-color: black;
  color: white;
  padding: 0 10px;
}

.shipping-option,
.shipping-info,
.payment-info,
.payment-option {
  display: grid;
  /* grid-template-columns: 30px auto 200px; */
  grid-template-columns: auto 200px;
  align-items: center;
  gap: 20px;
}

.credit-card-option {
  display: grid;
  justify-content: right;
}

.payment-option {
  padding: 5px 5px 0 5px;
}

.payment-button {
  justify-self: right;
}

.shipping-info,
.payment-info {
  grid-template-columns: 50px auto auto;
}

.shipping-button {
  align-items: center;
}

.checkout-address-div,
.checkout-suite-div,
.checkout-phone-div,
.checkout-email-div {
  display: grid;
  margin: 5px 0;
}

.checkout-info {
  background-color: black;
  padding: 40px;
  border: white solid 2px;
}



.checkout-hr {
  margin: 0;
}

.express-checkout-button-div {
  margin-bottom: 30px;
  cursor: pointer;
}

.payment-input {
  margin: 5px 0;
}

.delete-button {
  cursor: pointer;
}

.paginationButtons {
  margin-bottom: 40px;
  padding: 0px;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
  gap: 5px;
}

.paginationButtons a {
  padding: 10px 0;
  margin: 1px;
  border-style: none;
  /* color: black; */
  cursor: pointer;
}

.paginationButtons a:hover {
  color: white;
  background-color: rgb(44, 44, 44);
}

.paginationButtons li {
  text-align: center;
  display: grid;
  background-color: black;
  color: white;
  border: white solid 2px;
}

/* .activeButton a {
  color: black;
  background-color: black;
} */

/* .next, .activeButton, .previous{
  color: black;
  background-color: black;
} */
